

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @using (Html.BeginForm("ButtonSubmit", "PharmacyApi", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                <label for="Title">Title:</label>
                <input type="text" id="Title" name="Title" class="form-control" required>
            </div>
            <button type="submit">Submit</button>
        }
    </div>
</body>
</html>
